services:
  ns-redis:
    container_name: ns-redis
    image: redis:8.2.1-alpine
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "${CACHE_PASSWORD}"]
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    env_file:
      - .env
    environment:
      - CACHE_PASSWORD=${CACHE_PASSWORD}
    networks:
      - skynet

  ns-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rec-service
    ports:
      - "${GRPC_PORT}:${GRPC_PORT}"
      - "${HTTP_PORT}:${HTTP_PORT}"
    env_file:
      - .env
    depends_on:
      - ns-kafka
    networks:
      - skynet



  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - skynet

  ns-kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_DOCKER://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_DOCKER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    networks:
      skynet:

  akhq:
    image: tchiotludo/akhq
    container_name: akhq
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - ns-kafka
    networks:
      - skynet
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          server:
            access-log: true
          connections:
            local:
              properties:
                bootstrap.servers: "ns-kafka:29092"

volumes:
  redis_data:

networks:
  skynet: